//alert("JavaScript works!");
/*
Clifton Abraham
June 28, 2013
SDI1 1306
Assignment 4
*/

// Libary function
var myLibary = function(){
 var myString = function(val){
    var phoneNumStr = "845-741-8344"
    var n = phoneNumStr
    if( n.length ){
        return true;
   
    } else return false
    } // end off myString function
   
    var myOtherString = function(val){
        var emailStr = "kingpin2086@fullsail.edu"
        var n = emailStr
        if(n.length){
            return true
       
        } else return false 
    } // end of my OtherString function
    
    var myNum = function(val){
        var val =  "86"
        if(val == 86){
            return val
        } else {
            return false
        }
     
    } // end of myNum function
    
    var myHours = function(elapsed){
     
     var dateOne =  new Date(" June 27, 2013 ");
     var dateTwo =  new Date(" June 28, 2013 ");
     var start   =  dateOne
     var end     =  dateTwo
     var elapsed = end - start
     return elapsed;  
     
     
     
      
    } // end of date function
    
    var findSrting = function(location){
        var location = window.location.href
        if(location.indexOf("Nice")){

            return true
        
        } else return false 
    }
    
     return{
        "myString"     : myString,
        "myOtherString": myOtherString,
        "myNum"        : myNum,
        "myHours"      : myHours,
        "findString"   : findSrting
 

 
    }
    }; // end of Libary
    
var newLib = new myLibary();


console.log(" Is this the Pattern? " +  newLib.myString());
console.log(" Is this the Pattern? " + newLib.myOtherString());
console.log("The number is " + newLib.myNum());
console.log(newLib.myHours());
console.log(newLib.findString());
